<div class="card card-block">
    <h4 class="card-title"> <ng-content select="span"></ng-content></h4>
    <p class="card-text" [hidden]="joke.hide">
        <ng-content select="h1"></ng-content> </p>
    <a (click)="joke.toggle()" class="btn btn-warning">Tell Me
    </a>
    <button type="button" (click)="deleteJoke(joke)" class="btn btn-primary">Delete
        </button>
</div>