<div>
  <app-joke-form (jokeCreated)="addJoke($event)" ></app-joke-form>
  <app-joke (jokeDelete)="removeJoke($event)" *ngFor="let joke of jokes" [joke]="joke"><h1>{{joke.punchline}}</h1><span>{{joke.setup}}</span></app-joke>
</div>