<div class="card card-block">
  <h4 class="card-title">Create Joke</h4>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter the setup" #setup>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter the punchline" #punchline>
  </div>
  <button type="button" (click)="createJoke(setup.value, punchline.value)" class="btn btn-primary">Create
  </button>
</div>